<div class="col-md-12 text-center">
    <h1><a href="http://fontmeme.com/hells-angels-logo-font/"><img src="http://fontmeme.com/embed.php?text=Current%20Orders&name= Bosox SemiBold.ttf&size=50&style_color=FFFFFF" alt="Hells Angels Logo Font"></a></h1>
    <ul class="burgers">
        {{#each allBurgersData}} {{#unless this.devoured}}
        <li>{{this.burger_name}}  
            <form method="POST" action="/eat?_method=PUT">
                <button type="submit" name="burgerId" value={{this.id}} class="btn btn-danger center-block"><a href="http://fontmeme.com/hells-angels-logo-font/"><img src="http://fontmeme.com/embed.php?text=Devour%20it&name= Bosox SemiBold.ttf&size=20&style_color=FFFFFF" alt="Hells Angels Logo Font"></a></button>
            </form>
            <hr>
        </li>
        {{/unless}} {{/each}}
    </ul>
</div>
<div class="col-md-12 text-center">
    <h1><a href="http://fontmeme.com/hells-angels-logo-font/"><img src="http://fontmeme.com/embed.php?text=Devoured%20Burgers&name= Bosox SemiBold.ttf&size=50&style_color=FFFFFF" alt="Hells Angels Logo Font"></a></h1> {{#each allBurgersData}} {{#if this.devoured}}
    <ul class="devoured-burgers">
        <li>
            {{this.burger_name}}<img src=images/skull.gif height="50px">
        </li>
        <hr>
    </ul>
    {{/if}} {{/each}}
</div>
